test
ncrypt
.vscode/launch.json
.vscode/tasks.json
workspace.code-workspace
ncrypt.c.ncrypt
.vscode/c_cpp_properties.json
test.txt
test.txt.ncrypt
test.ncrypt
ncrypt.o
test.decrypt
ncrypt.dSYM/Contents/Info.plist
.DS_Store
